---

- name: Installs Homebrew cask applications
  homebrew_cask:
    name: "{{ item }}"
    state: present
    accept_external_apps: true
  with_items:
    - bear
    - caffeine
    - derailed/k9s/k9s
    - firefox
    - google-chrome
    - kubectl
    - spotify
    - visual-studio-code
  tags: applications