---

- name: Installs Homebrew cask applications
  homebrew_cask:
    name: "{{ item }}"
    state: present
  with_items:
    - boostnote
    - caffeine
    - firefox
    - google-chrome
    - insomnia
    - slack
    - spotify
    - visual-studio-code
  tags: applications