---

- name: Installs Homebrew cask applications
  homebrew_cask:
    name: "{{ item }}"
    state: present
  with_items:
    - boostnote
    - caffeine
    - insomnia
    - spotify
  tags: applications